html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(220, 245, 243);
  /* background-image: url('./images/texture.jpg'); */
  background-size: cover;
}

ul,
h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgb(1, 2, 2);
}

.container {
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

input {
  margin-top: 25px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

button {
  margin-top: 25px;
  background-color: rgb(201, 229, 236);
  border-radius: 4px;
  padding: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.stats-item {
  align-items: center;
  justify-content: center;
}

.material-icons {
  font-size: 15px;
}

.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.photo-card {
  margin-bottom: 10px;
}

.photo-card:not(:last-child) {
  margin-right: 8px;
}
